# OSX
#
.DS_Store
.vscode

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml
captures/
*.apk
*index.android.bundle
*index.android.bundle.meta
android/app/src/*/res/*/reactnative_*.png
android/app/src/*/res/*/node_modules_*.png

# BUCK
buck-out/
\.buckd/
*.keystore

google-services.json

fastlane/report.xml
